package ${basePackageName}.service;

import lombok.Data;
import org.springframework.boot.context.properties.ConfigurationProperties;

/**
 * @author xiayx
 */
@Data
@ConfigurationProperties(prefix = "peacetrue.$UpperCamel.toLowerCamel(${moduleName})")
public class Service${moduleName}Properties {

}
