package ${basePackageName}.service;

import com.github.peacetrue.associate.AssociatedSourceBuilder;
import com.github.peacetrue.associate.AssociatedSourceBuilderImpl;
import org.apache.ibatis.annotations.Mapper;
import org.mybatis.spring.annotation.MapperScan;
import org.springframework.boot.context.properties.EnableConfigurationProperties;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.PropertySource;

import java.util.Objects;

/**
 * @author xiayx
 */
@Configuration
@EnableConfigurationProperties(Service${moduleName}Properties.class)
@MapperScan(basePackageClasses = Service${moduleName}AutoConfiguration.class, annotationClass = Mapper.class)
@ComponentScan(basePackageClasses = Service${moduleName}AutoConfiguration.class)
@PropertySource("classpath:/application-$UpperCamel.toLowerCamel(${moduleName})-service.properties")
public class Service${moduleName}AutoConfiguration {

    private Service${moduleName}Properties properties;

    public Service${moduleName}AutoConfiguration(Service${moduleName}Properties properties) {
        this.properties = Objects.requireNonNull(properties);
    }

    @Bean
    public AssociatedSourceBuilder associatedSourceBuilder() {
        return new AssociatedSourceBuilderImpl();
    }

}
