package ${basePackageName}.service;

import lombok.Data;

import java.io.Serializable;
import java.util.Date;

#listImport($properties)
/**
 * @author xiayx
 */
@Data
public class ${name}VO implements Serializable {

    private static final long serialVersionUID = 0L;

    #listProperties($properties)
}
