package ${basePackageName}.service;

import com.github.peacetrue.result.exception.ResultException;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;

import javax.annotation.Nullable;

/**
 * @author xiayx
 */
public interface ${name}Service {

    /** 新增 */
     ${name}VO add(${name}Add params) throws ResultException;

    /** 分页查询 */
     Page<${name}VO> query(@Nullable ${name}Query params, @Nullable Pageable pageable) throws ResultException;

    /** 获取 */
     ${name}VO get(${name}Get params) throws ResultException;

    /** 修改 */
     int modify(${name}Modify params) throws ResultException;

    /** 删除 */
     int delete(${name}Delete params) throws ResultException;
}
