package ${basePackageName}.service;

import com.github.peacetrue.core.OperatorCapableImpl;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;

#listImport($properties)
#setOperatorIdType($properties)

/**
 * @author xiayx
 */
@Getter
@Setter
@ToString(callSuper = true)
public class ${name}Add extends OperatorCapableImpl<$operatorIdType> {

    private static final long serialVersionUID = 0L;

    #listPropertiesOutIdAudit($properties)

}
